################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarExplorer/v16/Browse.VC.db-shm
